# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Output files
output.txt

 

# VS Code settings
.vscode/

# Environment
venv/
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log
